html {
  background-color: #1f2937;
}

body {
  display: flex;
  flex-direction: column;
  font-family: roboto, Arial, Helvetica, sans-serif;
}

.hero,
.footer {
  color: #f9faf8;
}
.header,
.hero-section {
  padding: 0 332px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero.header {
  font-size: 24px;
  font-weight: bold;
  color: #f9faf8;
  margin-bottom: 82px;
}
.header.links,
.secondary-text {
  font-size: 18px;
  color: #e5e7eb;
  margin: 0;
  padding: 0;
  font-weight: 300;
}

ul {
  list-style-type: none;
}

ul li {
  padding: 18px;
}

.footer {
  color: red;
}
img {
  width: 600px;
  height: 300px;
}
.hero-section {
  gap: 10%;
}

.main-text {
  color: #f9faf8;
  font-size: 48px;
  font-weight: 800;
  margin-bottom: 12px;
}
.text {
  display: flex;
  flex-direction: column;
  text-align: flex-start;
  justify-content: space-between;
}
.secondary-text {
  margin-bottom: 12px;
}
.hero-section {
  align-items: stretch;
}
.hero-signup {
  background-color: #3882f6;
  color: white;
  font-size: 18px;
  font-weight: bold;
  padding: 8px 20px;
  border-radius: 8px;
  border: 0px;
  width: 120px;
}
.hero {
  margin-bottom: 64px;
}
